@use '../variables.scss';
.background{
    background-color: variables.$lightsea;
    image-rendering: pixelated;
    width: 100%;
}
.cursor{
    display: none;
    position: absolute;
    background-image: url("../assets/crosshair.png");
    background-size: contain;
    width:60px;
    height:60px;
    filter: invert(1);
    pointer-events: none;
}
.dropdown{
    display: none;
    position: absolute;
    flex-direction: column;
    width: 60px;
    height: 100px;
}