$dark:#1A2A37;
$bright:#2D3843;
$button:#2B557D;
$font:#E4EAEF;
$darksea:#344C5B;
$lightsea:#54718D;
$brown:#2B2721;

/*
$dark:#2D3843;
$bright:#2D3843;
$brown:#4F473B;
$darksea:#344C5B;
$lightsea:#54718D;*/